.nav ul {
    display: flex;
  }
  
  .nav ul li {
    padding: 0 15px;
  }
  
  .nav ul li a {
    font-size: smaller;
    font-weight: 500;
  }
  
  .nav ul li a:hover {
    color: #495e57;
  }
  
  .nav ul li .active-links.active {
    color: #495e57;
  }
  
  @media screen and (max-width: 1024px) {
    .nav {
      display: none;
    }
  }